.app {
  max-width: 800px;
  margin: 30px auto;
  font-family: monospace;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(12, 12, 61);
  color: whitesmoke;
}
#search-bar {
  text-align: center;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding: 5px 50px;
}

#date-time {
  list-style-type: none;
  text-align: center;
}

#city {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  font-weight: bold;
}

.nameofBoxes {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

ul {
  list-style: none;
}

#humidity #wind {
  color: red;
}

#current-temperature {
  font-size: 60px;
  text-align: center;
}

.units {
  position: relative;
  font-size: 15px;
  top: -25px;
}

.col-6 {
  text-align: center;
  font-size: 15px;
}

.link {
  display: block;
  text-align: center;
  color: rgb(12, 12, 61);
}
